* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #8cbeff;
}

a, a:link, a:visited {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

header {
    position: fixed;
    color: white;
    top: 0;
    z-index: 1;
    width: 100%;
    padding: 1rem;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

header .container .Name{
    font-size: 1.2rem;
}

header nav ul {
    display: flex;
}

header nav ul li {
    padding: 10px;

}

header button {
    background: transparent;
    border: 0;
    cursor: pointer;
    color: white;
}

header h1 button {
    font-size: 1.6rem;
    font-weight: bold;
}

header nav ul li button {
    font-size: rem;
    color: white;
}

main {
    width: 100%;
    height: 100vh;
    color: white;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

main h4 {
    font-size: 2rem;
}

main h2 {
    font-size: 3.5rem;
    margin: 2rem 0;
    letter-spacing: 3px;
    letter-spacing: 3px;
    font-family: "Varela Round", sans-serif;
}

main p {
    max-width: 500px;
    margin: 0 auto;
    font-size: 2rem;
    font-weight: bold;
}

main button {
    background-color: transparent;
    border: 3px solid white;
    border-radius: 20px;
    /* 가로 32px 세로 16px*/
    width: 11.5rem;
    height: 4.2rem;
    margin-top: .3rem;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

main h2 span::after {
    content: "";
    height: 40px;
    width: 3px;
    background-color: #fff;
    display: inline-block;
    animation: blink .7s ease-in-out infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

.main1 {
    height: auto;
}
